#gameDiv{
    --gameWidth: 800px;
    max-width: var(--gameWidth);
    height: 500px;
    position: relative;
    overflow: hidden;
    border: solid 2px black;
  }

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    height: 100%;  
    filter: saturate(0%) blur(5px); 
  }

  #myCanvas{
      background-color: rgba(0, 0, 0, 1);
      
  }

  .vrtBtnCont{
    display: flex;
    justify-content: center;
  }

  .virtualBtn{
    text-align: center;
    width: 15%;
    padding: 1%;
  }
  #scoreList{
    width: 40%;
    border: 1px solid black;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  
  }
 