body{
  text-align: center;
  margin: 0px;
}

#gameDiv{
    --gameWidth: 800px;
    max-width: var(--gameWidth);
    max-height: 500px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    
  }

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    height: 100%;  
    filter: saturate(0%) blur(5px); 
  }

  #myCanvas{
      background-color: rgba(0, 0, 0, 1);
      width: 100%;
      border: solid 2px black;
  }

  #treat{
    display: none;

  }

  .vrtBtnCont{
    display: flex;
    justify-content: center;
  }

  .virtualBtn{
    text-align: center;
    width: 15%;
    padding: 1%;
  }
  #scoreList{
    width: 40%;
    border: 1px solid black;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  
  }
  #myForm{
    display: none;
    margin: 10px;
  }
  #btnGroup{
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
  }
  #btnGroup button{
    padding: 10px;
    background-color: antiquewhite;
    border: none;
  }
  #btnGroup button:hover{
    
    border: 1px solid black;
    font-weight: bold;
  }
  #container{
    display: inline-flex;
    flex-direction: row;
  }
 #scoreHeaderText{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }