/* Import the css stylesheet from mainpage */
@import url("/mainpage/mainstyle.css");

/* Styling the ruleBox */
#ruleBox
{
color: white;
text-align: center;
background: black;
font-size: 20px;
border-radius: 10%;
font-family: 'Sulphur Point', sans-serif;
border: 8px solid rgb(16, 83, 83);
padding: 15px;
width: 70%;
margin: auto;


}

/* Display the section as block */
section
{
    display: block;
    height: 100%;

}

/* Adjust the font-size for text and the border size in the ruleBox for smaller mobile devices */
@media screen and (max-width:475px){

    #ruleBox{

        font-size: 15px;
        border: 4px solid rgb(16, 83, 83);
    }
}


