@import url("https://fonts.googleapis.com/css?family=Abel|Domine|Exo|Saira+Semi+Condensed|Sulphur+Point&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
/* This is the default layout and properties for this page. Anything overflows, will be hidden, and using flex
to align everything in the center at the Main-axis */

html, body {
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  overflow: hidden;
  background: linear-gradient(black, black, black, black, rgb(8, 57, 63), black);
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Display as grid because the aim is to create columns to divide the specific element into different sections.
Align everything in the center */

#gamdivContainer {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

/* This is the left side. It will take up two columns from the grid */

#leftContainer {
  width: 100%;
  height: 100%;
  padding: 5px;
  grid-column: span 2;
}

/* This is the Score design */

#scoreCount {
  color: #aac6df;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 34px;
  text-align: center;
}

/* This is the smallest planet on the left side, Using radial-gradient and opacity to create the appearance
and border-radius to make it a circle */

#leftPlanet0 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient( white, black, black, black, black);
  opacity: 0.7;
}

/* The biggest on the left side. The concept is similar above*/

#leftPlanet1 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: radial-gradient( rgb(83, 71, 4), black);
  box-shadow: 0px 0px 5px #1f3e5a;
  opacity: 0.6;
}

/* The medium size planet on the left side */

#leftPlanet2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient( #281c3c, black);
  opacity: 0.8;
}

#gameDiv {
  --gameWidth: 800px;
  max-width: var(--gameWidth);
  max-height: 500px;
  position: relative;
  overflow: hidden;
  border: 1px solid #1f3e5a;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #1f3e5a;
  grid-column: span 7;
  margin-top: 4%;
  z-index: 1;
}

#myVideo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
  height: 100%;
  filter: saturate(0%) blur(5px);
}

/* The right side will take two columns from the grid  */

#rightContainer {
  padding: 20px;
  grid-column: span 2;
}

/* The smallest planet on the right side */

#rightPlanet3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient( lightgreen, gray, black, black, black, black);
  opacity: 0.7;
}

/* The biggest planet on the right side */

#rightPlanet4 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient( #1f3e5a, black);
  margin-top: 70%;
  opacity: 0.8;
}

#myCanvas {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
}

#treat, #powerUp {
  display: none;
}

.vrtBtnCont {
  display: flex;
  justify-content: center;
}

.virtualBtn {
  text-align: center;
  width: 15%;
  padding: 1%;
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  Top: 0;
  background: linear-gradient(black, black, black, black, rgb(8, 57, 63), black);
  display: none;
  color: white;
  padding: 100px;
  box-sizing: border-box;
  font-family: 'Sulphur Point', sans-serif;
  z-index: 1;
  overflow: scroll;
}

/* Align it in the center by using margin auto and add other properties for it */

#gameOverTable {
  font-size: 50px;
  background-color: red;
  width: 50%;
  margin: auto;
 

}

/* Label Size */
label {
  font-size: 20px;
  font-weight: bold;
}
/* Add fontsize and color for the total point */
#totalPoints {
  font-size: 30px;
  color: goldenrod;
}

button {
  background: linear-gradient(black, black, black, black, rgb(8, 57, 63), black);
  color: white;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border: #1c253c 1px solid;
}

button:hover {
  border: rgb(66, 170, 196) 1px solid;
}

#scoreList {
  width: 40%;
  border: 1px solid black;
  margin: 0px auto;
  border-spacing: 0;
  /* Removes the cell spacing via CSS */
  border-collapse: collapse;
  /* Optional - if you don't want to have double border where cells touch */
}

/* This is the container that includes everything except Gameover. Using flex and align everything in the
 center at the direction of column */
#inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
 
}
/* This is the form which will take only 80% of the with and place it in the center */
#myForm {
  width: 80%;
  margin: auto;
  
}
/* This is the input box. Using margin-bottom to create some space the below items and margin-right to make it look better */
input {
  width: 40%;
  border-radius: 2px;
  margin-bottom: 3%;
  margin-right: 5%;
}

#btnGroup {
  display: inline-flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}

#btnGroup button {
  padding: 5px;
  background-color: antiquewhite;
  border: none;
}

#btnGroup button:hover {
  border: 1px solid black;
  font-weight: bold;
}

#container {
  display: inline-flex;
  flex-direction: row;
}

#scoreHeaderText {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (orientation: landscape) and (max-width: 900px) {
  #gameDiv {
    height: 100vh;
  }
  #myCanvas {
    height: 100vh;
  }
   
  label{
    font-size: 15px;
  }

  button{
    font-size:18px ;
  }
  #totalPoints{
    font-size: 20px;
  }
}

@media screen and (max-width:466px){
  #gameOverTable {
    font-size: 20px;
    
  }
  label{
    font-size:16px ;
  }
  #totalPoints {
    font-size: 15px;
  }
  input{
    width: 100%;
    margin-bottom: 10px;
  }
  button{
    font-size: 13px;
  }

  #inputContainer h2{
    font-size: 12px;
  }

}

@media screen and (max-width:613px) {
  #rightContainer {
    display: none;
  }
  #scoreCount {
    font-size: 10px;
  }
  #rightContainer {
    display: none;
  }
  #gameDiv {
    grid-column: 3/-1;
    height: 90%;
    width: 100%;
  }
  #myCanvas {
    height: 100%;
    width: 100%;
  }

}

@media screen and (min-width:610px) and (max-width:676px) {
  #rightContainer {
    display: none;
  }
  #scoreCount {
    font-size: 20px;
  }
  #gameDiv {
    grid-column: 3/-1;
    height: 90%;
    width: 100%;
  }
  #myCanvas {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width:676px) and (max-width:1024px) {
  #rightContainer {
    display: none;
  }
  #scoreCount {
    font-size: 20px;
  }
  #gameDiv {
    grid-column: 3/-1;
    height: 90%;
    width: 100%;
  }
  #myCanvas {
    height: 100%;
    width: 100%;
  }
}