@import url("https://fonts.googleapis.com/css?family=Abel|Domine|Exo|Saira+Semi+Condensed|Sulphur+Point&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
body{
  text-align: center;
  margin: 0px;
  overflow: hidden;
}


#scoreCount{
  margin: 5px;
}

#gameDiv{
    --gameWidth: 800px;
    max-width: var(--gameWidth);
    max-height: 500px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    
  }

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    height: 100%;  
    filter: saturate(0%) blur(5px); 
  }

  #myCanvas{
      background-color: rgba(0, 0, 0, 1);
      width: 100%;
      border: solid 2px black;
  }

  #treat{
    display: none;

  }

  .vrtBtnCont{
    display: flex;
    justify-content: center;
  }

  .virtualBtn{
    text-align: center;
    width: 15%;
    padding: 1%;
  }

  #gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    Top: 0;
    background-color: black;
    display: none;
    color: white;
    padding:100px;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
    
  }

  .gameOver-style
  {
    width: 70%;
    background-color:rgb(27, 53, 48); 
    padding-bottom:50px;  
    border-radius: 20%;
    margin: auto;
  }
  .gameOver-style h1
  {
    color: white;
    font-family: 'Anton', sans-serif;
    text-shadow: 0px 0px 30px rgb(231, 11, 11);
    font-size: 40px;
    letter-spacing: 7px;
    text-transform: uppercase;
  }
  
  .gameOver-style h2{
    font-size: 15px;
    color: rgb(204, 178, 28);

  }

  button
  {
    background:rgb(9, 78, 55);
    color: white;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: bold;
    font-size: 17px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(75, 8, 66);
    
  }

 button:hover
 {
color: red;

 }
  #scoreList{
    width: 40%;
    border: 1px solid black;
    margin: 0px auto;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  
  }
  #myForm{
    display: none;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
  }
  input
  {
    width: 50%;
    border-radius: 5px;
    margin-right:15%;
  }
  #btnGroup{
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
  }
  #btnGroup button{
    padding: 10px;
    background-color: antiquewhite;
    border: none;
  }
  #btnGroup button:hover{
    
    border: 1px solid black;
    font-weight: bold;
  }
  #container{
    display: inline-flex;
    flex-direction: row;
  }
 #scoreHeaderText{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 @media only screen and (orientation: landscape) and (max-width: 900px){

  #gameDiv{
    height: 100vh;   
  }

  #myCanvas{
      height: 100vh;
  }

 }