/* default setting for the page */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* set a default color value for background */

html, body {
    background: black;
}

/* take 70% out of the whole width size and position it in center. So basically, header,section and footer will be
take 70% of screen.*/

#wrapper {
    width: 80%;
    background: rgba(54, 53, 53, 0.096);
    margin: auto;
    height: 100%;
}

/* Using grid to divide into three section */

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Create a big circle for left side at header  */

#topLeftCircle {
    background: rgb(8, 57, 63);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    border: 20px black solid;
}

/* Create a circle at right side header */

#topRightCircle {
    background: rgb(54, 51, 51);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
}

/* two small circles for both left side and right side at header plus using animation
for two small circles to change color */

.smallCircle {
    background: rgb(54, 51, 51);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation-name: smallcircleanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* this keyframe use to change colors of the two small circles */

@keyframes smallcircleanimation {
    0% {
        background-color: rgb(175, 175, 94);
    }
    25% {
        background-color: rgb(107, 96, 96);
    }
    50% {
        background-color: rgb(51, 51, 90);
    }
    75% {
        background-color: rgb(203, 209, 203)
    }
    ;
    100% {
        background-color: rgb(156, 111, 85)
    }
}

/* this is the title container where it will contain logo and and a box.Set padding 50px because
it will create some space between elements from other sections and position relative because later
on, the circle will run accordingly to side of the container */

header #logoContainer {
    background: black;
    position: relative;
    padding: 50px;
}

/* set the size for the box and position as absolute so that it will relatively run in the container.
Using animation to make the box move infinitely in the container*/

.box {
    width: 10px;
    height: 10px;
    position: absolute;
    animation-name: snakeanimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Using this keyframe to manipulate the direction of the snake, using percentage so even smaller
     screen will be able to adapt to it*/

@keyframes snakeanimation {
    0% {
        /* Start point, which is the top and left side*/
        background-color: rgb(19, 19, 18);
        left: 5%;
        top: 5%;
    }
    25% {
        /* Move from left side to right side by only using left and top(instead for right or top) because
        it will create a continuation of the box's positioning*/
        background-color: rgb(107, 96, 96);
        left: 85%;
        top: 5%;
    }
    50% {
        /* The box moves to bottom */
        background-color: rgb(223, 223, 236);
        left: 85%;
        top: 85%;
    }
    75% {
        /* The box moves to left side */
        background-color: rgb(203, 209, 203);
        left: 5%;
        top: 85%;
    }
    100% {
        /* The box moves back to its original spot */
        background-color: rgb(247, 247, 244);
        left: 5%;
        top: 5%;
    }
}

/* Decorate the the text with different properties */

header #logoContainer .title {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Sulphur Point', sans-serif;
    text-decoration: none;
}

/* Decorate the 'Snake' text with shadow */

header #logoContainer .title h1 {
    border-bottom: solid goldenrod 0.2px;
    text-shadow: 5px 5px rgba(97, 74, 43, 0.788);
    font-weight: bold;
}

/* Target the first letter so that it will be bigger than the rest. */

header .title h1::first-letter {
    font-size: 100px;
}

/* Using grid to divide into sections, the left circles and the mid section which will take two columns of the grid
and the right circles */

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Circle without animation on the left of the Section */

.leftMidCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #281c3c;
}

/* Using grid-column to take up two columns. Align the text in the center and create border for it */

section #mid {
    grid-column: span 2;
    list-style: none;
    text-align: center;
    border-radius: 2%;
    border: 2px goldenrod solid;
}

/* Create space between the list */

section #mid li {
    margin: 3%;
}

/* Decorate text for the links */

section #mid a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Sulphur Point', sans-serif;
}

/* Using hover to create some effects on the text for instance box-shadow which create the red light shadow on the
background of the text */

section a:hover {
    background: goldenrod;
    box-shadow: 0px 0px 20px red;
    transition: 0.4s;
}

/* The right circle on the right section */

.rightMidCircle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #1c253c;
    margin-left: 30%;
}

/* The two animated circles from both right and left side of the section
They work pretty much the same as the small circles above. */

.mediumCircle {
    background: rgb(54, 51, 51);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10%;
    animation-name: mediumcircleanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes mediumcircleanimation {
    0% {
        background-color: red;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: rgb(7, 51, 54);
    }
    75% {
        background-color: rgb(203, 209, 203)
    }
    ;
    100% {
        background-color: rgb(156, 111, 85)
    }
}

/* Using media query(potrait mode) to adjust the size of the content for mobile telephone. The max-width size is based on
how content behave while responsiveness is avtive. Some font-sizes are not compatible with the screen size so it
will be adjusted while other contents that are not fit to the screen will be chosen to be removed, for instance
the #topLeftCircle and leftMidCircle becomes smaller as well as the logo. The box that moves around the logo is also
being removed at smaller device, because the animation might slower the page for mobile */

@media screen and (max-width:425px) {
    #wrapper {
        width: 100%;
    }
    header {
        margin-top: 30px;
    }
    #topLeftCircle {
        width: 80px;
        height: 80px;
        margin: 0px;
    }
    header #logoContainer {
        padding: 0px;
        margin-bottom: 20px;
    }
    header #logoContainer .title {
        font-size: 20px;
    }
    header .title h1::first-letter {
        font-size: 50px;
    }
    .box {
        display: none;
    }
    #topRightCircle {
        margin: auto;
    }
    .smallCircle {
        display: none;
    }
    .leftMidCircle {
        width: 40px;
        height: 40px;
    }
    .rightMidCircle {
        width: 30px;
        height: 30px;
    }
    .mediumCircle {
        display: none;
    }
    section {
        height: 100%;
        margin-top: 80px;
    }
    section #mid a {
        font-size: 24px;
        padding-bottom: 10px;
    }
    footer {
        margin-top: 70px;
    }
    #audioMode{
        display: none;
    }
}

/* This is for the bigger screen for mobile (potrait mode). The concept is similar as above, adjust the behavior of the content
If something is too big for the screen, then either adjust the size or remove it if it does not play an important
roll for the content at a bigger picture. In this size setting will be applied for screen-size between 425px and
656px. Almost everthing is the same as the original content, but the differences are the size of content and how
they position, for instance create some gap on the top of the wrapper(margin-top).Also remove the animation from the
the mediumCircle.
*/

@media screen and (max-width:656px) and (min-width:425px) {
    #wrapper {
        width: 100%;
        margin-top: 10%;
    }
    header {
        margin-top: 30px;
    }
    #topLeftCircle {
        width: 100px;
        height: 100px;
        margin: 0px;
    }
    header #logoContainer {
        padding: 30px;
        margin-bottom: 20px;
    }
    .box {
        display: none;
    }
    .mediumCircle {
        animation: none;
        background-color: rgb(112, 85, 49);
    }
    header #logoContainer .title {
        font-size: 25px;
    }
    header .title h1::first-letter {
        font-size: 60px;
    }
    #topRightCircle {
        margin: auto;
    }
    .smallCircle {
        margin: auto;
        animation: none;
    }
    .leftMidCircle {
        width: 50px;
        height: 50px;
    }
    .rightMidCircle {
        width: 30px;
        height: 30px;
    }
    section {
        height: 100%;
        width: 80%;
        margin: auto;
        margin-top: 80px;
    }
    section #mid a {
        font-size: 22px;
    }
}

/* This is for ipad (potrait mode). Nothing much has changed, only adjusting position */

@media screen and (max-width:768px) {
    #wrapper {
        margin-top: 20%;
        height: 100%;
    }
    footer {
        margin-top: 100px;
    }
}

/* This is for lanscape mode. 812px is the width-size of an X-iphone. Take out animation if it is a mobile device */

@media only screen and (orientation:landscape) and (max-width:812px)
{

    .box
    {
        display: none;
    }
    .mediumCircle {
        animation: none;
        background-color: rgb(112, 85, 49);
    }
    .smallCircle {
        animation: none;
    }
    #audioMode{
        display: none;
    }
}

/* Footer's decoration */

footer {
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}



/* This is the audio picture or div */

#audioMode {
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px white;
}